:root {
  --bg-button: #d3eaf8;
  --border-button: solid 1px rgb(151, 153, 153);
}

.button {
  font-size: 1.4em;

  background-color: var(--bg-button);

  border: none;
  border: var(--border-button);

  outline: none;
}

.button:active {
  background-color: #ccc;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background-color: #fa8231;
  color: white;
}

.button.operation:active {
  background-color: #fa8231cc;
}